
#title {
	font-family: 'Abel', sans-serif;
	font-size: 40px;
}

#info {
	font-family: 'Anton', sans-serif;
	font-size: 48px;

}
#utah {
	font-size: 25px;
}

.nav-item {
	margin-left: -17px;
}

.circle {
	font-family: 'Anton', sans-serif;
	color: white;
	border: 10px white solid;
	/*line-height: 20px;*/
	height: 105px;
	width: 105px;

}
#design, #lg-design {
	background: #E6563B;
}

#develop, #lg-develop {
	background: #EB9D3A;
}

#support, #lg-support {
	background: #7CB06C;
}

#host, #lg-host {
	background: #00ABA9;
}

#selected-work {
	font-family: 'Abel', sans-serif;
}

.card-text {
	font-family: 'Abel', sans-serif;
}

.card {
	margin: 50px 50px 50px 0;
}
.card-container-2 {
	margin-left: 14px;
}
.btn {
	background: blue;
	height: 18px;
	width: 18px;
	line-height: 5px;
}


#logo {
	z-index: 1;
	position: relative;
	top: -15px;
}

#white-stripe, #white-stripe-lg {
	margin-top: 30px;
	height: 75px;
	overflow: visible;
	background-color: white;
}

.smapple {
	width: 80%;
	border: 10px solid lightgrey;
	border-radius: 10px;

}

#selected-work {
	margin-left: 100px;
}


.smcircle {
	font-family: 'Anton', sans-serif;
	font-size: 10px;
	font-weight: bold;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

.featured-project {
	font-size: 12px;
}

.smd1 {
	background-color: #E6563B;
}
.smd2 {
	background-color: #EB9D3A;
}

.sms {
	background-color: #7CB06C;
}

.smh {
	background-color: #00ABA9;
}